In [1]:
import pandas as pd
import numpy as np
df = pd.read_excel('insurance data.xlsx')
# print(df)

In [2]:
from sklearn.model_selection import train_test_split

In [3]:
X_train, X_test, y_train, y_test = train_test_split(df[['age']],df.bought_insurance,train_size=0.8)

In [4]:
X_test

    age
23   45
19   18
20   21
25   54
26   23
7    60

In [5]:
from sklearn.linear_model import LogisticRegression
model = LogisticRegression()

In [6]:
model.fit(X_train, y_train)

LogisticRegression()

In [7]:
y_predicted = model.predict(X_test)
print(y_predicted)

[1 0 0 1 0 1]

In [8]:
model.score(X_test,y_test)

1.0

In [9]:
model.coef_

array([[0.11626367]])

In [10]:
model.intercept_

array([-4.57893134])

In [11]:
import math
def sigmoid(x):
  return 1 / (1 + math.exp(-x))
def prediction_function(age):
    z = 0.042 * age - 1.53 
    y = sigmoid(z)
    if y>0.5:
        y=1
    else:
        y=0
    return y

In [12]:
prediction_function(35)

0

In [13]:
prediction_function(43)

1