In [83]:
# import libraries
import numpy as np
import pandas as pd

# import data 
df = pd.read_excel('wheat_production.xlsx')

In [84]:

#convert data in array
arr = df.to_numpy()

# assign columns to variable X and Y
X = (arr[: , 0])
Y = (arr[: , 1])

# reshhape column matrix that we need
X = np.reshape(X ,(len(X), 1) )
Y = np.reshape(Y ,(len(X) ,1) )

#normalize datA in range 0 to 1`......
X = (X - 1960)/(2009 -1960)
Y = (Y -9854)/(80679 -9854)

#  made a matrix of X0 and X1 by combining of X and other column of 1
X = np.c_[np.ones((len(X),1)),X]

#print few rows of X matrix::::::
 
X[0: 10]

array([[1.        , 0.        ],
       [1.        , 0.02040816],
       [1.        , 0.04081633],
       [1.        , 0.06122449],
       [1.        , 0.08163265],
       [1.        , 0.10204082],
       [1.        , 0.12244898],
       [1.        , 0.14285714],
       [1.        , 0.16326531],
       [1.        , 0.18367347]])

In [85]:
# we also predict  by analytical method to compare both prediction method 

theta_best = np.linalg.inv(X.T.dot(X)).dot(X.T).dot(Y)
print(" Theta[0] :", theta_best[0])
print(" Theta[1] :", theta_best[1])

 Theta[0] : [-0.06572422]
 Theta[1] : [1.07364286]

In [86]:
m=len(X)

#decide rate and iterations
rate =0.723
iter = 100

#dedcide initial value of theta matrix to random....
theta = np.random.randn(2,1)

for i in range(iter):        
        prediction = np.dot(X,theta)
       # print(prediction)
        theta = theta -(rate/m)*( np.dot(X.T , (prediction - Y)))
       # print(theta.T)

print(" Theta[0] :", theta[0])
print(" Theta[1] :", theta[1])

 Theta[0] : [-0.06549773]
 Theta[1] : [1.07322086]

In [87]:
# assign all predicted value to new variable by dot product of two matrix( theta , X)
rr = np.dot(X,theta)

#converting into its original form
Y = rr * (80679 -9854) + 9854

#add a new column in our data to compare both production 
df['predicted_production'] = Y

In [88]:
df

    year(X)  Production(Y)  predicted_production
0      1960          10320           5215.123199
1      1961          10995           6766.365392
2      1962          12076           8317.607585
3      1963          10779           9868.849779
4      1964           9854          11420.091972
5      1965          12258          12971.334165
6      1966          10394          14522.576359
7      1967          11393          16073.818552
8      1968          16540          17625.060745
9      1969          18651          19176.302939
10     1970          20093          20727.545132
11     1971          23832          22278.787325
12     1972          26410          23830.029518
13     1973          24735          25381.271712
14     1974          21778          26932.513905
15     1975          24104          28483.756098
16     1976          28846          30034.998292
17     1977          29010          31586.240485
18     1978          31749          33137.482678
19     1979          35508          34688.724871
20     1980          31830          36239.967065
21     1981          36313          37791.209258
22     1982          37452          39342.451451
23     1983          42794          40893.693645
24     1984          45476          42444.935838
25     1985          44069          43996.178031
26     1986          47052          45547.420224
27     1987          44323          47098.662418
28     1988          46169          48649.904611
29     1989          54110          50201.146804
30     1990          49850          51752.388998
31     1991          55134          53303.631191
32     1992          55690          54854.873384
33     1993          57210          56406.115578
34     1994          59840          57957.357771
35     1995          65470          59508.599964
36     1996          62097          61059.842157
37     1997          69350          62611.084351
38     1998          66350          64162.326544
39     1999          71288          65713.568737
40     2000          76369          67264.810931
41     2001          69681          68816.053124
42     2002          72766          70367.295317
43     2003          65761          71918.537510
44     2004          72156          73469.779704
45     2005          68637          75021.021897
46     2006          69355          76572.264090
47     2007          75807          78123.506284
48     2008          78570          79674.748477
49     2009          80679          81225.990670